body {
    font-family: comic sans ms, sans-serif;
}

.conteudoPrincipal {
    border: 3px solid #000;
}

section {
    border: 3px solid #000;
    margin: 10px;
    padding: 60px;
}

hr {
    margin: 0;
    width: 90%;
    border: 1px solid black;
}

.conteudoAlinhadoEsq {
    text-align: left;
}

h2 {
    color: rgba(8, 173, 8, 0.658);
}

p {
    margin: 0;
    font-size: 18px;
}

.textoAzul {
    color: rgb(0, 119, 255);
}
